# dependencias
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# entorno — NUNCA versionar claves
.env
.env.local
.env*.local

# supabase local
/supabase/.branches
/supabase/.temp
/supabase/.env

# sistema
.DS_Store
Thumbs.db
*.pem
npm-debug.log*
yarn-error.log*
.vercel
